@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

/* styles/globals.css */
.code-preview-tabs {
  border: 1px solid #ddd;
  border-radius: 8px;
  overflow: hidden;
}

.preview-container {
  padding: 16px;
}

.code-container {
  position: relative;
  padding: 16px;
}

.code-container pre {
  margin: 0;
  white-space: pre-wrap;
}

.copy-button {
  position: absolute;
  top: 16px;
  right: 16px;
  background: none;
  border: none;
  cursor: pointer;
  display: flex;
  align-items: center;
  font-size: 14px;
  color: #333;
}

.copy-button svg {
  margin-right: 4px;
}

.copy-button:focus {
  outline: none;
}

.container {
  margin: 40px auto;
}
.container-box {
  margin: 40px 100px;
}

